section span {
	font-size: .9em !important;
}


body,
.js {
	background-color: #EBD74D !important;
}

p.center {
	text-align: center;
}

p.big {
	font-size: 1.5em;
}

img.small {
	vertical-align: middle;
	padding-left: 30px;
	width: 30%;
	border: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}